#bgcolor {
    background-color: #264653;
    ;
}

#nav-color {
    color: white;
}

.imgsize {
    width: 552px;
    height: 447px;
}

#imgsize {
    width: 337px;
    height: 257px;
}

#imgsize1 {
    width: 149px;
    height: 149px;
}