#bgcolor {
    background-color: #264653;
    ;
}

#nav-color {
    color: white;
}

.imgsize {
    width: 552px;
    height: 447px;
}

#imgsize {
    width: 337px;
    height: 257px;
}

#imgsize1 {
    width: 149px;
    height: 149px;
    margin-top: 10px;
}

.fimg {
    width: 430px;
    height: 423px;
}

.fixed-position {
    margin-left: 400px;
}

.footer-area a {
    text-decoration: none;
    color: aliceblue;
    margin: 40px;
    padding-top: 5px;
}